---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="container">
    <div class="top-half">
      <div class="face-container">
        <div class="icon icon-1">❤️</div>
        <div class="icon icon-2">❤️</div>
        <div class="icon icon-3">❤️</div>
        <div class="icon icon-4">❤️</div>
        <div class="icon icon-5">❤️</div>
        <div class="icon icon-6">❤️</div>
        <div class="icon icon-7">❤️</div>
        <div class="icon icon-8">❤️</div>
        <img class="face" src="openjan.svg" alt="face" />
      </div>
    </div>
    <h1>Welcome</h1>
    <form class="login-container" action="" method="post" id="login">
      <input type="text" id="login-email" placeholder="Email" />
      <input type="password" id="login-password" placeholder="Password" />
      <button id="login-btn" type="submit">Log in</button>
      <button id="signup-btn"><a href="/register">Sign up</a></button>
    </form>

    <!-- Log in Error -->
    <!-- <div id="error-container">
        <p id="error-message">Are You Serious?!</p>
        <img
          id="error-image"
          src="/images/img_loginError.jpg"
          alt="Login Error"
          width="200"
        />
      </div> -->
  </main>
</Layout>

<!-- <script>
  const form = document.querySelector("#login") as HTMLFormElement;
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(e.target as HTMLFormElement);
    const formObject = Object.fromEntries(formData.entries());

    const res = await fetch(`http://localhost:3500/login`, {
      method: "post",
      credentials: "include",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(formObject),
    });

    if (res.ok) {
      window.location.href = "/profile";
    }
    const response = await res.json();
    const errorContainer = document.getElementById(
      "error-container"
    ) as HTMLFormElement;
    errorContainer.style.display = "block";
  });
</script> -->

<style>
  body {
    min-height: 100vh;
  }
  /* #error-container {
    display: none;
    text-align: center;
    position: absolute;
  }
  #error-image {
    width: 320px;
  }
  #error-message {
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 1.5rem;
    font-weight: 700;
    color: #c33620;
  } */
  .container {
    margin: auto;
    max-width: 450px;
    height: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    scroll-behavior: smooth;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .top-half {
    background-color: #f6ae2b;
    width: 650px;
    min-height: 60vh;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    translate: 0 -45%;
    /* top: -450px; */
    /* left: -450px; */
  }
  .face-container {
    position: relative;
    width: 140px;
    height: 140px;
    top: 50%;
    border-radius: 50%;
    outline: solid 15px #f6ae2b;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
  }
  .face {
    border-radius: 50%;
    object-fit: contain;
    object-position: 3px 35px;
    width: 150px;
    height: 150px;
    background-color: #fff;
    box-shadow: inset 0 0 15px var(--main-color);
  }

  .icon {
    font-size: 2rem;
    position: absolute;
    left: 200px;
  }
  .icon-1 {
    top: 90px;
    left: -60px;
  }
  .icon-2 {
    top: 160px;
    left: 30px;
  }
  .icon-3 {
    top: 135px;
    left: 135px;
  }
  .icon-4 {
    top: 60px;
    left: 170px;
  }
  .icon-5 {
    top: -20px;
    left: -130px;
  }
  .icon-6 {
    top: 10px;
    left: -60px;
  }
  .icon-7 {
    top: 0px;
    left: 170px;
  }
  .icon-8 {
    top: -30px;
    left: 240px;
  }
  .icon {
    animation: rotateOnce 0.6s ease-out forwards;
  }
  @keyframes rotateOnce {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(170deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .login-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  button {
    border-radius: 20px;
    height: 2rem;
    font-size: 1.1rem;
    border: solid 4px #f6ae2b;
    background-color: #f6ae2b;
	color: white;
  }
  button:hover {
    cursor: pointer;
  }
  #login-email,
  #login-password {
    border: solid 2px #f6ae2b;
    border-radius: 10px;
    height: 1.5rem;
  }
  h1 {
    color: #f6ae2b;
  }
  input {
	padding: 0.9rem 0.5rem;
  }
  input:focus {
	outline: none;
  }
</style>
