---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="container">
    <div class="top-half">
      <div class="face-container">
        <div class="icon icon-1">❤️</div>
        <div class="icon icon-2">❤️</div>
        <div class="icon icon-3">❤️</div>
        <div class="icon icon-4">❤️</div>
        <div class="icon icon-5">❤️</div>
        <div class="icon icon-6">❤️</div>
        <div class="icon icon-7">❤️</div>
        <div class="icon icon-8">❤️</div>
        <img class="face" src="openjan.svg" alt="face" />
      </div>
    </div>
    <h1>Sign Up</h1>
    <form class="login-container" method="POST" id="signup">
      <input required type="text" id="signup-firstname" name="firstName" placeholder="First Name" />
      <input required type="text" id="signup-lastname" name="lastName" placeholder="Last Name" />
      <input required type="text" id="signup-email" name="email" placeholder="Email" />
      <input required type="password" name="password" id="signup-password" placeholder="Password" />
      <!-- <input
        type="url"
        name="image"
        id="url-image"
        placeholder="URL of your photo"
      /> -->
      <button id="signup-btn" type="submit">Sign up</button>
    </form>
  </main>
</Layout>

<script type="module">
  const form = document.querySelector('#signup')
  form.addEventListener('submit', async (e) => {
    e.preventDefault()

    const formData = new FormData(e.target);
    const formObj = Object.fromEntries(formData.entries()); // Converts form data to JS object
    const res = await fetch(`http://localhost:3500/user/signup`, {
      method: "POST",
      credentials: "include",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(formObj),
    });
    if (!res.ok) {
      console.error("Something went wrong");
      return;
    }
    alert('User signed up succesfully')
    window.location.href = "/";
  });
//   const imginput = document.querySelector("#url-image") as HTMLInputElement;
//   const userimg = document.querySelector(".face") as HTMLInputElement;
//   imginput.addEventListener("input", () => {
//     const url = imginput.value.trim();
//     if (url) {
//       userimg.src = url;
//     }
//   });
</script>

<style>
  body {
    min-height: 100vh;
  }

  .container {
    margin: auto;
    padding-bottom: 10px;
    max-width: 450px;
    height: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    scroll-behavior: smooth;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container::-webkit-scrollbar {
    display: none;
  }

  .top-half {
    background-color: #f6ae2b;
    width: 650px;
    min-height: 60vh;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    translate: 0 -45%;
    /* top: -450px; */
    /* left: -450px; */
  }
  .face-container {
    position: relative;
    width: 140px;
    height: 140px;
    top: 50%;
    border-radius: 50%;
    outline: solid 15px #f6ae2b;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
  }
  .face {
    border-radius: 50%;
    object-fit: contain;
    object-position: 3px 35px;
    width: 150px;
    height: 150px;
    background-color: #fff;
    box-shadow: inset 0 0 15px var(--main-color);
  }

  .icon {
    font-size: 2rem;
    position: absolute;
    left: 200px;
  }
  .icon-1 {
    top: 90px;
    left: -60px;
  }
  .icon-2 {
    top: 160px;
    left: 30px;
  }
  .icon-3 {
    top: 135px;
    left: 135px;
  }
  .icon-4 {
    top: 60px;
    left: 170px;
  }
  .icon-5 {
    top: -20px;
    left: -130px;
  }
  .icon-6 {
    top: 10px;
    left: -60px;
  }
  .icon-7 {
    top: 0px;
    left: 170px;
  }
  .icon-8 {
    top: -30px;
    left: 240px;
  }
  .icon {
    animation: rotateOnce 0.6s ease-out forwards;
  }
  @keyframes rotateOnce {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(170deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .login-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  button {
    border-radius: 20px;
    height: 2rem;
    font-size: 1.1rem;
    border: solid 4px #f6ae2b;
    background-color: #f6ae2b;
    color: white;
  }
  button:hover {
    cursor: pointer;
  }
  h1 {
    color: #f6ae2b;
  }
  input {
    padding: 0.9rem 0.5rem;
    border: solid 2px #f6ae2b;
    border-radius: 10px;
    height: 1.5rem;
  }
  input:focus {
    outline: none;
  }
</style>
